.container {
    align-items: center;
    display: inline-flex;
    font-family: 'Roboto';
    font-size: 0.8125rem;
    height: 48px;
    margin: 0 12px;
    position: relative;
}

.input {
    border: none;
    font-size: inherit;
    outline: none;
    opacity: 0.7;
    width: 0;
}

.input.expanded {
    animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) inputGrow;
    animation-fill-mode: forwards;
}

.input.collapsed {
    animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) inputShrink;
    animation-fill-mode: forwards;
}

.circle {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    line-height: 19px;
    opacity: 0.7;
    text-align: center;
    width: 20px;
}

.circle:hover {
    opacity: 1;
}

.add {
    background-color: #4285f4;
    z-index: 1;
}

.add.expanded {
    animation: spinClockwise 500ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.add.collapsed {
    animation: spinCounter 500ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.done {
    background-color: #34a853;
    margin-left: -16px;
}

.doneShow {
    animation: dash 100ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.doneHide {
    animation: dashReverse 100ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
}

.show {
    display: initial;
}

.hide {
    display: none;
}

@keyframes spinClockwise {
    0% {
        transform: rotate(0deg);
        background-color: #4285f4;
    }
    60% {
        background-color: #4285f4;
    }
    100% {
        transform: rotate(315deg);
        background-color: #ea4335;
    }
}

@keyframes spinCounter {
    0% {
        transform: rotate(0deg);
        background-color: #ea4335;
    }
    60% {
        background-color: #4285f4;
    }
    100% {
        transform: rotate(-270deg);
        background-color: #4285f4;
    }
}

@keyframes inputGrow {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}

@keyframes inputShrink {
    from {
        width: 100px;
    }
    to {
        width: 0;
    }
}

@keyframes dash {
    from {
        margin-left: -16px;
    }
    to {
        margin-left: 4px;
    }
}

@keyframes dashReverse {
    from {
        margin-left: 4px;
    }
    to {
        margin-left: -16px;
    }
}
